@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 241 245 248;
  --white-color: 255 255 255;
  --light-primary-color: 206 238 226;
  --primary-color: 11 194 121;
  --text-color: 55 66 88;
  --gray-color: 117 129 154;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}
